@page "/"

<PageTitle>About</PageTitle>
<h3>How It Works</h3>
<hr/>
<p>
    This application allows users to upload PGN chess game files and store them in a relational database (MySQL). The
    system parses the PGN data and assigns the information to one of the following types:
    <ul>
        <li>
            Player
        </li>
        <li>
            Event
        </li>
        <li>
            Game
        </li>
    </ul>
    Afterwards, the entities are stored in the databases' tables. 
    
    Users have the option of querying the database by using the filter options provided such as: 
    <ul>
        <li>
            player names
        </li>
        <li>
            openings
        </li>
        <li>
            game results
        </li>
        <li>
            date ranges
        </li>
    </ul>
</p>
<hr/>
